<%- include('../layouts/header'); -%>

    <div class="center p-5 mb-4 bg-body-secondary rounded-3">
        <h1>Welcome to the Sample App</h1>

        <h2>
            This is the home page for the
            <a class="text-decoration-none" href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
            sample application.
        </h2>

        <a href="/signup" class="btn btn-lg btn-primary">Sign up now!</a>
    </div>

    <a href="https://rubyonrails.org/"><img alt="Rails logo" width="200px" src="/images/rails.svg" /></a>

<%- include('../layouts/footer'); -%>
