<form action="/relationships/<%= currentUser.id %>/delete" accept-charset="UTF-8" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" autocomplete="off" />
    <input type="submit" name="commit" value="Unfollow" class="btn btn-light" />
</form>
