        <footer class="footer">
            <small>
                The <a class="text-decoration-none" href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
                by <a class="text-decoration-none" href="https://www.michaelhartl.com/">Michael Hartl</a>
            </small>
            <nav>
                <ul>
                    <li> <a class="text-decoration-none" href="/about">About</a> </li>
                    <li> <a class="text-decoration-none" href="/contact">Contact</a> </li>
                    <li><a class="text-decoration-none" href="https://news.railstutorial.org/">News</a></li>
                </ul>
            </nav>
        </footer>

        <% if (debugOutput) { %>
            <pre class="debug_dump"><%= debugOutput %></pre>
        <% } %>
    </div>

    <!-- for bootstrup -->
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>